* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;  
  display: flex;
  justify-content: center;
  background: #293264;
}

main {
  max-width: 650px;
  width: 650px;
  height: 650px;
  background-color: #F5F7FB;
  background-image: url("/blob_blue.png"), url("/blob_yellow.png");
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat;
}

.startquiz {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}

.startquiz--title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin: 0;
}

.startquiz--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-top: 10px;
  margin-bottom: 30px;
}

.startquiz--button {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.startquiz--button:focus {
  outline: none;
}

.startquiz--button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.questions--page {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 50px 20px 50px;
}

.questions--only {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.question {
  margin-top: 0;
  border-bottom: 0.794239px solid #DBDEF0;
  padding: 15px 0;
}

.question * {
  margin: 0;
}
.question--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 10px;
}

.question--answers {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #293264;
}

.question--answer {  
  min-width: 66px;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  padding: 3px 5px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.selected--answer {
  background: #D6DBF5;
}

.wrong--answer {
  background: #F8BCBC;
}

.correct--answer {
  background: #94D7A2;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.footer--text {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  margin-right: 20px;
}

.check--answers {
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  border: none;
  cursor: pointer;
  
}

.check--answers:focus {
  outline: none;
}

.check--answers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}